<!DOCTYPE html>
<html>
  <head>
    <title>Brébeuf Code</title>
    <link rel="icon" href="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/45360654_2072829132768732_2856319832146575360_n.png?_nc_cat=100&_nc_ht=scontent-lga3-1.xx&oh=9247c54041982c46d133089cfb93d6f9&oe=5C3EC119" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style>

    .top {
      height:100vh;
      padding: 10%
  color: white;
  /* height: 900px; */
  min-height: 100%;
  width: 100%;
  background-image:  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://raw.githubusercontent.com/Brebeuf-Code/site-web2.0/master/static/FullSizeRender%20(7).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

    .dropdown-container {
  position: relative;
}

.dropdown-menu {
  color: black;
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: -100px; /* More to the left */
}
</style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Brébeuf Code</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="qui">Qui-sommes nous?</a>
          </li>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Événements
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="rencontres">Rencontres</a>
              <a class="dropdown-item" href="https://www.brebeufhx.com">Hackathon</a>
              <a class="dropdown-item" href="codesprint">SocioCode</a>
              <a class="dropdown-item" href="competitions">Compétitions</a>

            </div>
          </div>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ressources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="projets">Projets</a>
              <a class="dropdown-item" href="ressources">Liens utiles</a>
              <a class="dropdown-item" href="services">Services</a>
            </div>
          </div>

          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

     <div id="about">

          <div class="top">
            <h1 class="add_shadow" style="padding:5%; color:white">Brébeuf Code, qu'est-ce?</h1>

            <h4 class="add_shadow" style="padding: 5%; color:white">Notre vision est de partager les bienfaits de la technologie avec les diverses organisations dans notre société et d'offrir des opportunités pour tout le monde à apprendre la programmation.</h4>

        </div>

        <div class="container-fluid">


          <div id="qui-description";>
            <h4>Nous organisons plusieurs types d'événements pour répondre à notre mission.</h4>
            <br>
            <div class="container">
              <div class="row">
                <div class="col">
                  <center><h3>Rencontres</h3></center>
                  <p>Des rencontres à tous les mercredis midis (A3-45 de 12h30 à 13h20) pour travailler
                    sur des nouveaux concepts, apprendre ensemble, et créer des projets</p>
                    <a class="btn btn-outline-dark btn-block" href="rencontres">Se joindre!</a>

                </div>
                <div class="col">
                  <center><h3>BrebeufHx 2.0</h3></center>
                  <p>Hackathon de 24 heures où les participants ont à créer des applications innovatrices. Une opportunité unique
                  pour apprendre plus et rencontrer des personnes intéressantes!</p>
                  <a class="btn btn-outline-dark btn-block" href="https://www.brebeufhx.com">S'impliquer</a>

                </div>
                <div class="col">
                  <center><h3>SocioCode</h3></center>
                  <p>Une session où un groupe d'individus se rassemblent pour déveloper une application pour
                     un organsime communautaire.</p>
                     <a class="btn btn-outline-dark btn-block" href="codesprint">Participer!</a>

                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <center><a href="contact"
         class="btn btn-outline-dark btn-lg">Nous joindre</a></center>

    <footer style="padding:50px;">
      <p>Copyright Brébeuf Code 2018</p>
    </footer>

  </body>
</html>
